.btn
	cursor pointer
	background transparent
	border 1px solid transparent
	border-radius 4px
	box-shadow 0 1px 6px 0 rgba(59, 100, 98, 0.16)
	transition .5s ease-out
	outline none
	font_mixin($FontPrimary, 14px, $gray2)
	letter-spacing 1px
	height 40px
	padding 0 15px
	@extend .center-v-h

.btn-empty
	border-color $gray
	background-color transparent
	color $gray2
	&:hover
		color $white
		background-color $gray
		border-color $transparent

.btn-full-gray
	border-color $gray
	background-color $white
	&:hover
		color $white
		background-color transparent
		border-color $white