input[type=text],
input[type=password],
input[type=email],
input[type=search],
input[type=number],
input[type=file],
input[type=tel],
select, textarea
	height 30px
	line-height 16px
	padding 13px 14px
	border 1px solid $gray
	background $white
	&:focus
		outline none
	&.error
		border 1px solid red

textarea
	resize none
	overflow auto


/* ======== NEWSLETTER ======== */
.form-news
	margin-top 164px
	margin-bottom 142px
	width 56%

	fieldset
		legend
			text-align center
			font_mixin($FontPrimary, 18px, $gray2)
			font-weight bold

		& > p
			text-align center
			font_mixin($FontPrimary, 14px, $gray2)
			margin-top 44px
			margin-bottom 40px

		label
			width 340px
			font_mixin($FontPrimary, 12px, $gray2)
			line-height 20px

			span
				display block

		input[type=text],
		input[type=email]
			width 340px
			&:focus
				outline none

		button
			width 260px
			margin-top 50px

		figure
			text-align center


/* ======== ALERTAS ======== */
.alert
	padding 14px
	border-radius 3px
	font_mixin($FontPrimary, 12px, $white)
	text-align center
	margin-top 15px

.alert-danger
	@extend .alert
	background #ffeded
	color #c53b3b

.message-fail
	background #ce6565

.message-success
	background #41b88f
